## Compiled JavaScript files
**/*.js
**/*.js.map
!.*rc.js

# Typescript v1 declaration files
typings/

node_modules/

*.log

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
